@media print {
  li.media {
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    margin-bottom: 0.25rem !important;

    /* fix para corrigir problema no MSEdge */
    display: inline-flex;
    width: 100%;
  }

  #filter-row > label {
    width: 15% !important;
  }

  #filter-row > div {
    width: 85% !important;
  }
}
