.media-left {
  margin-right: 1rem;
}

.media-left img {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

@media (max-width: 900px) {
  .media {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .media-left {
    margin-right: 0px;
  }

  .media-left img {
    width: 100%;
  }

  .media-body {
    margin-top: 0.5rem;
  }

  .media-body > p {
    word-break: break-all;
  }
}

@media (max-width: 576px) {
  .media-body > p {
    padding: 0px 15px;
  }
}
